.container {
  background-color: var(--fill-color);
  color: var(--neutral-foreground-rest);
  padding: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
}

fluent-tree-view {
  width: 100%;
}

fluent-tree-item.dragging {
  filter: grayscale();
  opacity: 0.8;
}

.col1,
.col2 {
  display: inline-block;
  height: 100%;
  background: #ce8888;
}
