.container {
  background-color: var(--fill-color);
  color: var(--neutral-foreground-rest);
  padding: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
}

fluent-card {
  margin-bottom: 8px;
}

fluent-card.dragging {
  filter: grayscale();
  opacity: 0.8;
}

.col {
  display: inline-block;
  vertical-align: top;
  width: 100px;
}

#tree,
#tree2 {
  height: auto;
}

#drop-area-default1,
#drop-area-default2 {
  height: 8px;
  background-color: azure;
}
