.container {
  background-color: var(--fill-color);
  color: var(--neutral-foreground-rest);
  padding: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
}

fluent-card.dragging {
  filter: grayscale();
  opacity: 0.8;
}

.col {
  display: inline-block;
  vertical-align: top;
}
